<%- include('../partials/header'); %>

<%- include('../partials/navbar'); %>


<div class="container">
	<a class="btn blue lighten-2" style="margin-top: 10px;" href="/customers/add" class="btn btn-secondary ml-3">New
		Employee</a>
	<table class="striped responsive-table">
		<thead>
			<tr>
				<th>EmployeeId</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>
			<% if(data.length){

  for(var i = 0; i< data.length; i++) {%>
			<tr>
				<th><%= data[i].employee_id %></th>
				<td><%= data[i].first_name%></td>
				<td><%= data[i].email%></td>
				<td>
					<a class="btn edit" href="../customers/edit/<%=data[i].employee_id%>">Edit</a>
					<a class="btn delete modal-trigger red accent-3" href="#modal1">Delete</a>
					<%- include('../partials/confirmationModal', {data: '../customers/delete/' + data[i].employee_id}); %>
				</td>
			</tr>
			<% }

   }else{ %>
			<tr>
				<td colspan="3">No user</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>

<%- include('../partials/footer'); %>